.mainContainer {
  justify-content: center;
  width: 100%;
  margin-top: 30px;
}

.dataContainer {
  padding-top: 20px;
  flex-direction: row;
  justify-content: space-around;
  width: 50%;
  height: 50%;
  display: flex;
  margin: auto;
  flex-wrap: wrap;
  align-content: stretch;
  align-items: center;
}

.header {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  display: block;
}

.bio {
  background-color: #FFFFFF;
  text-align: center;
  color: gray;
  margin-top: 10px;
  height:400px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  display: block;
}

.waveButton {
  cursor: pointer;
  margin-top: 16px;
  padding: 8px;
  border: 0;
  border-radius: 5px;
}

body {
  background-color: rgb(255, 255, 255);
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.app {
  margin-top:50px;
  width:100%;
  background-color: #fff85b;
  min-height: 200px;
  height: min-content;
  border-radius: 15px;
  box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: space-evenly;
}

.selfOperations{
  width: 45%;
  box-shadow: rgba(0, 0, 0, 0.01) 0px 0px 1px, rgba(0, 0, 0, 0.04) 0px 4px 8px, rgba(0, 0, 0, 0.04) 0px 16px 24px, rgba(0, 0, 0, 0.01) 0px 24px 32px;
  border-radius: 24px;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  background-color: #7cc6fe;
}

.foreignOperation{
  width: 45%;
  box-shadow: rgba(0, 0, 0, 0.01) 0px 0px 1px, rgba(0, 0, 0, 0.04) 0px 4px 8px, rgba(0, 0, 0, 0.04) 0px 16px 24px, rgba(0, 0, 0, 0.01) 0px 24px 32px;
  border-radius: 24px;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  background-color: #7cc6fe;
}

.operation-label{
  text-align: center;
}

.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

.MuiTextField-root{
  width: 100%;
}

.materialUiInput{
  padding-bottom: 10px;
}

.center-buttons{
  text-align: center;
}

.connectButton{
  padding: 5px 10px;

    border: none;

    background: #1976d2;

    border-radius: 5px;

    font-size: 16px;

    font-weight: 600;

    color: #fff;
}