.mainContainer {
  justify-content: center;
  width: 100%;
  margin-top: 30px;
}

.dataContainer {
  padding-top: 20px;
  flex-direction: row;
  justify-content: space-around;
  width: 50%;
  height: 50%;
  display: flex;
  margin: auto;
  flex-wrap: wrap;
  align-content: stretch;
  align-items: center;
}

.header {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  display: block;
}

.bio {
  background-color: #FFFFFF;
  text-align: center;
  color: gray;
  margin-top: 10px;
  height:400px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  display: block;
}

.waveButton {
  cursor: pointer;
  margin-top: 16px;
  padding: 8px;
  border: 0;
  border-radius: 5px;
}

body {
  background-color: rgb(255, 255, 255);
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.app {
  margin-top:50px;
  width:100%;
  background-color: #fff85b;
  min-height: 200px;
  height: min-content;
  border-radius: 15px;
  box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: space-evenly;
}

.selfOperations{
  width: 45%;
  box-shadow: rgba(0, 0, 0, 0.01) 0px 0px 1px, rgba(0, 0, 0, 0.04) 0px 4px 8px, rgba(0, 0, 0, 0.04) 0px 16px 24px, rgba(0, 0, 0, 0.01) 0px 24px 32px;
  border-radius: 24px;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  background-color: #7cc6fe;
}

.foreignOperation{
  width: 45%;
  box-shadow: rgba(0, 0, 0, 0.01) 0px 0px 1px, rgba(0, 0, 0, 0.04) 0px 4px 8px, rgba(0, 0, 0, 0.04) 0px 16px 24px, rgba(0, 0, 0, 0.01) 0px 24px 32px;
  border-radius: 24px;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  background-color: #7cc6fe;
}